<% provide(:title, "ユーザー一覧") %>
<% provide(:class_title, "ユーザー一覧") %>

<%= render "index" %>

<%= will_paginate %>

<table class = "table table-condensed table-hover" id = "table-users">
  <thead>
    <tr>
      <th><%= User.human_attribute_name :name %></th><th></th>
    </tr>
  </thead>
  
  <% @users.each do |user| %>
    <tr>
      <td>
        <% if current_user.admin? %>
          <%= link_to user.name, user %>
        <% else %>
          <%= user.name %>
        <% end %>
        <% if current_user.admin? && !current_user?(user) %> | <% end %>
        <% if current_user.admin? && !current_user?(user) %>
          <%=link_to "基本情報編集", edit_basic_info_user_path(user) %>
        <% end %>
        <% if current_user.admin? && !current_user?(user) %> | <% end %>
        <% if current_user.admin? && !current_user?(user) %>
          <%= link_to "削除", user, method: :delete,
              data: { confirm: "本当に削除してよろしいですか？",
                      cancel: "キャンセル",
                      commit: "削除",
                   }, title: "#{user.name}のデータを削除します" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate %>
